<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="com.signage.player"
        version="0.1.0"
        viewmodes="maximized">
    <tizen:application id="SgnPlayer0.DigitalSignage" package="SgnPlayer0" required_version="10.0"/>
    <name>Digital Signage Player</name>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
    <access origin="*" subdomains="true"/>
</widget>
